footer{
    background-color: var(--noir);
}

.infos-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 920px;
    align-items: start;
    justify-content: center;
    margin: 2rem auto;
    text-align: left;
}

.titre-part{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 200;
    margin: 1rem 0;
    color: var(--doree);
}

.infos-part div{
    display: flex;
    flex-direction: column;
}

.noir-infos{
    text-align: left;
}

.nav-part{
    align-items: center;
}

.nav-part ul{
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.nav-part a:hover{
    color: var(--doree);
}

.infos{
    margin: 0.5rem 0;
}

.social-part{
    background-color: var(--doree);
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-evenly;
}

.social-part a{
    transition: all 0.3s ease-in-out;
    color: var(--blanc_ivoire);
}

.social-part a:hover{
    color: var(--noir);
}

.mentions-legales:hover{
    border-bottom: 1px solid var(--noir);
}





