header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
  background-color: var(--noir);
  position: sticky;
  top: 0;
}

h1 {
  font-weight: 200;
  font-family: var(--cormorant);   
  text-align: left;
}

h3{
  font-size: 1rem;
  margin: 0;
  font-weight: 200;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding: 0.5rem 1rem;
  transition: border-bottom background-color 0.3s ease-in-out;
}

li:hover{
  cursor: pointer;
  background-color: var(--noir_charbon);
}

.chosen{
  border-bottom: 0.2rem solid var(--doree);
}

a {
  text-decoration: none;
}

.book-table {
  padding:0.75rem;
  border-radius: 1.2rem;
  font-size: 1rem;
  font-weight: 200;
  border: none;
  background-color: var(--doree);
  color: var(--blanc_ivoire);
  transition: background-color 0.3s ease-in-out;
}

.book-table:hover{
  background-color: var(--doree_hover);
  cursor: pointer;
}