.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url('../assets/hero_image.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 1rem;
}

.sub-title-hero{
    font-weight: 500;
}

.box-hero{
    border: 1px solid var(--blanc_ivoire);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-hero{
    font-size: 5rem;
    margin: 0;
}

.text-hero{
    margin-bottom: 1rem;
}

.btn-hero{
    padding: 0.3rem 0;
    font-size: 1rem;
    display:flex;
    gap: 0.15rem;
    align-items: flex-end;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;

}

.btn-hero:hover{
    border-bottom-color: var(--blanc_ivoire);
}



