.box-philosophy{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--noir);
    font-weight: 300;
    padding: 1rem;
}



.img-philosophy{
    width: 20%;
    height: 20%;
    border-radius: 10%;
}

.left-box{
    text-align: left;
}



.box-philosophy h3{
    color: var(--gris);
    font-weight: 200;
}
