.reservation-container{
    background-color: var(--noir_charbon);
    display: flex;

}

.image-part{
    width: 50vw;
    height: 100vh;
}

.image-part img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reservation-part{
    padding: 2rem;
    text-align: left;
    width: 50vw;
    height: 100vh;
}

.box-introduction{
    display: flex;
    flex-direction: column;
}

.box-introduction span{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.box-reservation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: auto;
    padding: 1rem 0;
    border: 1px solid var(--blanc_ivoire);
}

.box-reservation h3{
    font-size: 1.5rem;
}

.form-reservation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.infos-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    
}

.input-item{
    margin: 1rem 0;
    width: 40%;
}

.champ-reservation{
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    height: 42px;
    border: none;
    transition: border 0.3s ease-in-out;
    
}

input:hover,select:hover{
    border: 1px solid var(--blanc_ivoire);
}

#date{
    width: fit-content;
}

label{
    color: var(--blanc_ivoire);
    font-size: 1rem;
}