*{
    color: #ffffff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .9rem;
    background-color: #000000;
}

h1{
    font-weight: 200;
    
}

ul{
    display: flex;
}

li{
    list-style-type: none;
    padding: 0.5rem 1rem;
}

a{
    text-decoration: none;
}

.book-table{
    padding: 0.5rem;
    height: 50%;
}
