* {
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
  background-color: #000000;
  position: sticky;
}

h1 {
  font-weight: 200;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding: 0.5rem 1rem;
  transition: border-bottom background-color 0.3s ease-in-out;
}

li:hover{
  cursor: pointer;
  background-color: #ffffff24;
}

.chosen{
  border-bottom: 0.2rem solid #E09200;
}

a {
  text-decoration: none;
}

.book-table {
  padding:0.75rem;
  border-radius: 1rem;
  border: none;
  background-color: #E09200;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

.book-table:hover{
  background-color: #F59F00;
  cursor: pointer;
}